extends layout

block head
  link(rel='stylesheet', href='/assets/semantic/semantic.min.css')
  script(src='/assets/jquery/jquery-2.1.1.min.js')
  script(src='/assets/semantic/semantic.min.js')
  script(src='/assets/angular/angular.min.js')
  script(src='/assets/app/main.js')

block content
  div(ng-app='odinApp')
    div(ng-controller='ItemsController')
      div.ui.segment
        div.ui.action.input
          input(type='text' placeholder='Title...' ng-model='item.title')
          div.ui.primary.button(ng-click='addItem(item.title); item.title=""')
            i.plus.icon
            | Add

      div.ui.basic.segment
        div.ui.card(ng-repeat='item in items')
          div.content
            div.header {{ item.title }}
