mixin board(options)
  div.ui.basic.segment
    div.ui.grid
      div.four.wide.column(ng-repeat='state in states')
        span.ui.black.empty.circular.label(style='margin-left: 10px; margin-right: 5px; background-color: {{ state.color }} !important')
        span.ui.header {{ state.title }}
        div.ui.divider
        div(style='margin-bottom: 20px' ng-repeat='item in items | title: searchFilter | project: projectFilter | assignedUser: assignedUserFilter | tag: tagFilter | state: state')
          div.ui.card(style='border-top: 2px solid {{ item.state.color }}' ng-controller='ItemCardController')
            div.content
              a.header(href='#/items/{{ item.id }}') {{ item.title }}
              i.chat.icon(style='color: #ddd' ng-if='item.description')
              div.tags(ng-if='item.tags.length')
                br
                span.ui.label(ng-repeat='tag in item.tags') {{ tag }}
              div(ng-if='item.prerequisiteItems.length')
                br
                div.ui.tiny.header Prerequisites:
                div(ng-repeat='prerequisiteItem in item.prerequisiteItems' style='margin-bottom: 2px')
                  div.ui.black.empty.circular.label(style='margin-left: 10px; margin-right: 5px; background-color: {{ prerequisiteItem.state.color }} !important' ng-attr-data-title='{{ prerequisiteItem.state.title }}' semantic-popup)
                  a(href='#/items/{{ prerequisiteItem.id }}' style='color: #444') {{ prerequisiteItem.project.name }} &mdash; {{ prerequisiteItem.title }}
              if options.showProject
                br
                a.ui.label(href='#/projects/{{ item.project.id }}' style='float: right') {{ item.project.name }}
            div.extra.content(ng-if='item.subItems.length')
              div.ui.grid(style='margin: 0')
                div.column(style='padding: 0px; height: 10px; width: {{ (item.subItems | state: state).length / item.subItems.length * 100 }}%; background-color: {{ state.color }}' ng-repeat='state in states' ng-attr-data-title='{{ state.title }} ({{ (item.subItems | state: state).length }})' semantic-popup)
            div.extra.content
              div.ui.dropdown(semantic-dropdown)
                div.text State
                i.dropdown.icon
                div.menu
                  div.item(ng-repeat='state in states' ng-if='state.id !== item.state.id' ng-attr-data-value='{{ state.id }}' ng-click='item.state = state; saveItemState(item);')
                    div.ui.black.empty.circular.label(style='margin-right: 5px; background-color: {{ state.color }} !important')
                    | {{ state.title }}
              div.right.floated.author(ng-repeat='assignedUser in item.assignedUsers')
                a(href='#/users/{{ assignedUser.id }}')
                  img.ui.avatar.image(ng-src='/api/users/{{ assignedUser.id }}/avatar' ng-attr-data-title='{{ assignedUser.name }}' semantic-popup)
        if options.showAddSubItemForm
          form(ng-submit='addSubItem(newSubItem.title, state); newSubItem.title = null;')
            div.ui.left.icon.input
              input(type='text' id='title' placeholder='Add new item...' style='width: 290px' ng-model='newSubItem.title')
              i.add.icon
