mixin filters(options)
  if options.showSearchFilter
    div.ui.left.icon.input
      input(type='text', placeholder='Search...' ng-model='searchFilter')
      i.search.icon

  if options.showProjectFilter
    div.ui.top.right.pointing.dropdown.icon.labeled.button(semantic-dropdown ng-model='projectFilter' style='margin-left: 10px')
      i.folder.icon
      span.text Project
      div.menu
        div.item(ng-repeat='project in items | projects' ng-attr-data-value='{{ project }}') {{ project.name }}
    div.ui.close.icon.button(ng-show='projectFilter' ng-click='projectFilter = null')
      i.close.icon

  if options.showAssignedUserFilter
    div.ui.top.right.pointing.dropdown.icon.labeled.button(semantic-dropdown ng-model='assignedUserFilter' style='margin-left: 10px')
      i.user.icon
      span.text Assigned User
      div.menu
        div.item(data-value='unassigned')
          i.icon
          | Unassigned
        div.divider
        div.item(ng-repeat='assignedUser in items | assignedUsers' ng-attr-data-value='{{ assignedUser }}')
          img.ui.avatar.image(style='width: 16px; height: 16px' ng-src='/api/users/{{ assignedUser.id }}/avatar')
          | {{ assignedUser.name }}
    div.ui.close.icon.button(ng-show='assignedUserFilter' ng-click='assignedUserFilter = null')
      i.close.icon

  if options.showTagFilter
    div.ui.top.right.pointing.dropdown.icon.labeled.button(semantic-dropdown ng-model='tagFilter' style='margin-left: 10px')
      i.tag.icon
      span.text Tag
      div.menu
        div.item(ng-repeat='tag in items | tags' ng-attr-data-value='{{ tag }}') {{ tag }}
    div.ui.close.icon.button(ng-show='tagFilter' ng-click='tagFilter = null')
      i.close.icon
