mixin itemCard(item, showProject)
  div.content
    div.header {{ item.title }}
    div.description(ng-if='item.description') {{ item.description }}
    div.tags(ng-if='item.tags.length')
      br
      span.ui.green.label(ng-repeat='tag in item.tags') {{ tag }}
    div(ng-if='item.prerequisiteItems.length')
      br
      div.ui.tiny.header Prerequisites:
      div(ng-repeat='prerequisiteItem in item.prerequisiteItems')
        div.ui.black.empty.circular.label(style='margin-left: 10px; margin-right: 5px; background-color: {{ prerequisiteItem.state.color }} !important' ng-attr-data-title='{{ prerequisiteItem.state.title }}' semantic-popup)
        | {{ prerequisiteItem.title }}
    if showProject
      br
      a.ui.label(href='#/projects/{{ item.project.id }}' style='float: right') {{ item.project.name }}
  div.extra.content(ng-if='item.assignedUsers.length')
    div.right.floated.author(ng-repeat='assignedUser in item.assignedUsers')
      a(href='#/users/{{ assignedUser.id }}')
        img.ui.avatar.image(src='/api/users/{{ assignedUser.id }}/avatar' ng-attr-data-title='{{ assignedUser.name }}' semantic-popup)
