mixin menu(activeItem)
  div.ui.secondary.menu(ng-controller='MenuController')
    a.item(href='#/overview' class=activeItem == 'Overview' ? 'active' : '')
      i.home.icon
      | Overview
    a.item(href='#/projects' class=activeItem == 'Projects' ? 'active' : '')
      i.folder.icon
      | Projects
    a.item(href='#/users' class=activeItem == 'Users' ? 'active' : '')
      i.user.icon
      | Users
    a.right.item(href='#/new-item' class=activeItem == 'NewItem' ? 'active' : '')
      i.add.icon
      | Add Item
