div(ng-controller='ProjectController')
  div.ui.segment
    div.ui.grid
      div.eight.wide.column
        h1.ui.header
          a(href='#/projects') Projects
          |  &gt; {{ project.title }}
      div.eight.wide.right.aligned.column
        div.ui.top.right.pointing.dropdown.icon.labeled.green.button
          i.tag.icon
          span.text No Filter
          div.menu
            div.item(ng-click='tagFilter = null') No Filter
            div.divider
            div.item(ng-repeat='tag in items | tags' ng-click='$parent.tagFilter = tag') {{ tag }}

  div.ui.basic.segment
    div.ui.grid
      div.four.wide.column(ng-repeat='state in states')
        h3.ui.header {{ state.title }}
        div.ui.divider
        div.ui.card(ng-repeat='item in items | tag: tagFilter | state: state')
          div.content
            div.header {{ item.title }}
            br
            div.tags
              span.ui.green.label(ng-repeat='tag in item.tags') {{ tag }}
            div.ui.divider
            div.ui.dropdown(semantic-dropdown)
              div.text {{ item.state.title }}
              i.dropdown.icon
              div.menu
                div.item(ng-repeat='state in states' ng-attr-data-value='{{ state.key }}' ng-click='item.state = state') {{ state.title }}

script.
  $('.ui.dropdown').dropdown();
