include menu

div
  div.ui.segment
    +menu('Projects')

  div.ui.basic.segment
    div.ui.cards
      a.ui.card(ng-repeat='project in projects' href='#/projects/{{ project.id }}')
        div.content
          div.header {{ project.name }}
          div.description(ng-if='project.description') {{ project.description }}
