include menu
include itemCard

div
  div.ui.segment
    +menu('Projects')

  div.ui.basic.segment
    div.ui.grid
      div.eight.wide.column
          h1.ui.header
            | {{ project.name }}
      div.eight.wide.right.aligned.column
        div.ui.top.right.pointing.dropdown.icon.labeled.button(semantic-dropdown style='float: right')
          i.tag.icon
          span.text No Filter
          div.menu
            div.item(ng-click='tagFilter = null') No Filter
            div.divider
            div.item(ng-repeat='tag in items | tags' ng-click='$parent.tagFilter = tag') {{ tag }}

  div.ui.basic.segment
    div.ui.grid
      div.four.wide.column(ng-repeat='state in states')
        span.ui.black.empty.circular.label(style='margin-left: 10px; margin-right: 5px; background-color: {{ state.color }} !important')
        span.ui.header {{ state.title }}
        div.ui.divider
        div.ui.card(ng-repeat='item in items | tag: tagFilter | state: state')
          +itemCard(item, false)
