div(ng-controller='UserController')
  div.ui.segment
    div.ui.grid
      div.eight.wide.column
        h1.ui.header
          a(href='#/users') Users
          |  &gt; {{ user.name }}
      div.eight.wide.right.aligned.column
        div.ui.top.right.pointing.dropdown.icon.labeled.green.button(semantic-dropdown)
          i.tag.icon
          span.text No Filter
          div.menu
            div.item(ng-click='tagFilter = null') No Filter
            div.divider
            div.item(ng-repeat='tag in items | tags' ng-click='$parent.tagFilter = tag') {{ tag }}

  div.ui.basic.segment
    div.ui.grid
      div.four.wide.column(ng-repeat='state in states')
        h3.ui.header {{ state.title }}
        div.ui.divider
        div.ui.card(ng-repeat='item in items | tag: tagFilter | state: state')
          div.content
            div.header {{ item.title }}
            div.description(ng-if='item.description') {{ item.description }}
            div.tags(ng-if='item.tags.length')
              br
              span.ui.green.label(ng-repeat='tag in item.tags') {{ tag }}
            br
            a.ui.label(href='#/projects/{{ item.project.id }}' style='float: right') {{ item.project.title }}
          div.extra.content(ng-if='item.assignedUsers')
            div.right.floated.author(ng-repeat='assignedUser in item.assignedUsers')
              a(href='#/users/{{ assignedUser.id }}')
                img.ui.avatar.image(src='/api/users/{{ assignedUser.id }}/avatar' ng-attr-data-title='{{ assignedUser.name }}' semantic-popup)
