include menu
include filters
include board

div
  div.ui.segment
    +menu('Users')

  div.ui.basic.segment
    div.ui.grid
      div.four.wide.column
          h1.ui.header
            | {{ user.name }}
      div.twelve.wide.right.aligned.column
        +filters({ showSearchFilter: true, showProjectFilter: true, showAssignedUserFilter: false, showTagFilter: true })

  +board({ showProject: true })
