div(ng-controller='UsersController')
  div.ui.segment
    div.ui.secondary.menu
      a.item(href='#/projects')
        i.folder.icon
        | Projects
      a.active.item(href='#/users')
        i.user.icon
        | Users

  div.ui.basic.segment
    div.ui.ten.cards
      a.ui.card(ng-repeat='user in users' href='#/users/{{ user.id }}')
        div.image
          img(src='/api/users/{{ user.id }}/avatar')
        div.content
          div.header {{ user.name }}
          div.description(ng-if='user.description') {{ user.description }}
