body {
  font-size: 1.3em;
}

.sidebar label {
  display: block;
  padding-bottom: 4px;
  border-bottom: 1px solid #e1e1e1;
}

.sidebar .filter {
  padding: 2px 4px;
  margin-left: -20px;
}

.sidebar .filter:hover {
  background-color: #f6f6f6;
}

.sidebar .filter input {
  margin: 0 5px 0 0;
  visibility: hidden;
}

.sidebar .filter:hover input {
  visibility: visible;
}

.sidebar .filter input.visible {
  visibility: visible;
}

.sidebar a {
  text-transform: lowercase;
}

table.issues {
  width: 100%;
}

table.issues th,
table.issues td {
  padding: 4px 6px;
}

table.issues tr:hover td {
  background-color: #f6f6f6;
}

table.issues td.title span {
  padding: 2px 4px;
}

table.issues td.project span {
  text-transform: lowercase;
}

table.issues td.title span.state-pending {
}

table.issues td.title span.state-ready {
  background-color: #ffe0b2;
}

table.issues td.title span.state-inprogress {
  background-color: #b3e5fc;
}

table.issues td.title span.state-finished {
  background-color: #c5e1a5;
}

table.issues td.state span {
  text-transform: lowercase;
}

table.issues td.assigned-user span {
  text-transform: lowercase;
}
